# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# IDE stuff
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Storage (optional if you want clean repo)
#storage/chroma/
#storage/uploads/
